# =========================
# Virtual Environments
# =========================
emotion_env/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Database Files
# =========================
*.db

# =========================
# Python Cache / Compiled
# =========================
__pycache__/
*.pyc

# =========================
# OS / Editor Files
# =========================
.DS_Store
.vscode/

